version: 2.1

jobs:
  build-and-test:
    docker: 
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
         name: Install Dependencies
         command: npm ci
     - run:
         name: Run Tests
         command: npm test

workflows:
  temp-workflow:
    jobs:
      - build-and-test
